<html>
<head>
    <title>Product</title>
</head>

<body>
    <div>
        <h1>Products List</h1>
    </div>
    <% for p in @products %>
    <div>
        <h2> <%=  p.product_name  %> </h2>
        <h3>Product Price :<p> <%=  p.product_price %> </p>
        </h3>
        <p>Description : <%=  p.description  %></p>
    </div>
    <% end %>
</body>
</html>